<!DOCTYPE html>
<html>
<head>
<title>Collecter fingerprint</title>
</head>
<style>
    a:visited{color: red;}
</style>
<body>
    <h1>Collecte de votre empreinte</h1>
    <p>
       L'objectif est de collecter l'empreinte de votre navigateur lorsque vous utilisez une
       extension de défense contre le fingerprinting. Vous pouvez tester avec Random Agent Spoofer,
       Canvas defender, Canvas Blocker, Ultimate User Agent, Blink.
    </p>

    <p>
        Dans le champ ci-dessous saisissez la contre mesure que vous utilisez (Random agent spoofer,
        canva defender, etc) et cliquez sur <b>Envoyer</b> pour envoyer votre empreinte. Ne
        vous souciez pas de l'ortographe exacte du nom de l'extension.
    </p>

    <p>
        Pour les personnes sous Windows ou Mac, une visite avec Internet Explorer ou Safari, même
        sans extension serait appréciée.
    </p>
    <input type="text" id="countermeasure" placeholder="Contre mesure"></input>
    <button id="validate">Envoyer</button>
    <br>
    <p id="testmac1">
        Test 1
    </p>
    <p id="testwinxp">
        Test 2
    </p>
    <p id="testwinvis">
        Test 3
    </p>
    <p id="testwin7">
        Test 4
    </p>
    <p id="testwin8">
        Test 4
    </p>

    <script src="{{ url_for('static', filename='js/audioSha1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/languageDetector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ua-parser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fonts_linked.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fingerprint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moveElements.js') }}"></script>
</html>
